h1 {
    text-align: center;
}

#time-display {
    text-align: center;
}

#quiz-box {
    position: absolute;
    left: 30%;
    width: 500px;
    height: 400px;
    border: 2px solid green;
}

#start {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 5px;
}

#questions {
    margin: 10px;
    text-align: center;
}

li {
    background-color: grey;
    margin-top: 10px;
    padding: 10px 15px;
    color: white;
    list-style-type: none;
}

#createDiv {
    margin-top: 10px;
}